body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/subtle_white_mini_waves.png)
}

h1{
    font-size: 25pt;
    font-weight: bold;
    background-color: seagreen;
    padding: 20px 20px 20px 20px;
}

#instructions{
    font-size: 16pt;
    border-bottom: seagreen solid thick;
    width: 320px;
}

p{
    margin: 20px 0px 20px 20px;

}

hr{
    margin: auto;
}

.metrics{
    width: 320px;
    border: seagreen thick solid;
    margin-left: 20px;
    background: whitesmoke;
}